@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); 

body {
    font-family: 'Roboto', Arial;
    margin: 0;
}

.header {
    display: flex;
    padding: 8px 20px 8px 20px;
    background-color: #1F2937;
    align-items: center;
    justify-content: space-between;

}

.logo {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
}